* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

html {
    background-color: hsl(212, 45%, 89%);
}

body {
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 320px;
    padding: 16px
}

.card .qrcode {
}